<div *ngIf="cambio==1">
    <!--Alojamiento-->
     <div class="pregunta">
       <a (click)="VolverIndex()"><img src="../../assets/images/llave2.jpg" alt=""></a>
       <h1>¿Que tipo de Alojamiento vas a compartir?</h1>
     </div>
     <div class="opciones">
       <a (click)="VolvelList()">Salir</a>
       <div *ngFor="let i of Icon">
         <div class="contenido" *ngIf="i.id > 15 && i.id != 22">
           <button (click)="SeleccionarButton(i.Nombre,1, i.id)" [style.background-color]="checkTipoLugar[i.id - 15]"> <h3> {{i.Nombre}} </h3> <img src="http://localhost/ApiEjemplo/public{{i.Icono}}" alt=""></button>
         </div>
       </div>
     </div>
     <div class="AtrasSiguiente">
       <a (click)="VolverIndex()" class="atras">Atras</a>
       <button [disabled]="bloquear" class="siguiente" (click)="cambiarSiguiente()">Siguiente</button>
     </div>
   </div>
   <div *ngIf="cambio==2">
     <!--Descripcion del cuarto-->
      <div class="pregunta">
        <a (click)="VolverIndex()"><img src="../../assets/images/llave2.jpg" alt=""></a>
        <h1>¿Cuál de estas opciones describe mejor tu alojamiento?</h1>
      </div>
      <div class="opciones">
        <a (click)="VolvelList()">Salir</a>
        <div class="contenido"><button (click)="SeleccionarButton('Residencia', 2,0)" [style.background-color]="checkTipoDescripcion[0]"> <h3> Residencia </h3> </button></div>
        <div class="contenido"><button (click)="SeleccionarButton('Cabaña', 2,1)" [style.background-color]="checkTipoDescripcion[1]"> <h3> Cabaña </h3> </button></div>
        <div class="contenido"><button (click)="SeleccionarButton('Villa', 2,2)" [style.background-color]="checkTipoDescripcion[2]"> <h3> Villa </h3> </button></div>
        <div class="contenido"><button (click)="SeleccionarButton('Casa adosada', 2,3)" [style.background-color]="checkTipoDescripcion[3]"> <h3> Casa adosada </h3> </button></div>
        <div class="contenido"><button (click)="SeleccionarButton('Casa de Campo', 2,4)" [style.background-color]="checkTipoDescripcion[4]"> <h3> Casa de Campo </h3> </button></div>
   
      </div>
      <div class="AtrasSiguiente">
        <a (click)="cambiarAtras()" class="atras">Atras</a>
        <button class="siguiente" (click)="cambiarSiguiente()" [disabled]="bloquear" >Siguiente</button>
      </div>
    </div>
   <div *ngIf="cambio == 3">
     <div class="pregunta">
       <a (click)="VolverIndex()"><img src="../../assets/images/llave2.jpg" alt=""></a>
       <h1>¿De qué tipo de espacio van a disponer los huéspedes?</h1>
   </div>
   <div class="opciones">
       <a (click)="VolvelList()">Salir</a>
       <div class="N">
           <div class="numero" (click)="SeleccionarButton('Un alojamiento entero', 3,0)" [style.background-color]="checkTipoEspa[0]">
               <h3 >Un alojamiento entero </h3>
           </div>
           <div class="numero" (click)="SeleccionarButton('Una habitación privada', 3,1)" [style.background-color]="checkTipoEspa[1]">
               <h3 >Una habitación privada</h3>
           </div>
           <div class="numero" (click)="SeleccionarButton('Una habitación compartida', 3,2)"[style.background-color]="checkTipoEspa[2]" >
               <h3 >Una habitación compartida </h3>
           </div>
       </div>
   
   </div>
   <div class="AtrasSiguiente">
       <a  class="atras" (click)="cambiarAtras()">Atras</a>
       <button class="siguiente" (click)="cambiarSiguiente()" [disabled]="bloquear" >Siguiente</button>
   </div>
   </div>
   <div *ngIf="cambio == 4">
     <div class="pregunta">
       <a (click)="VolverIndex()"><img src="../../assets/images/llave2.jpg" alt=""></a>
       <h1>¿En que lugar se encuentra tu cuarto?</h1>
   </div>
   <div class="opciones">
       <a (click)="VolvelList()">Salir</a>
       <form class="direccion" [formGroup]="direccion">
           Confirma tu dirección
           <input type="text" placeholder="Código Postal" formControlName="cp"> <button (click)="EncontrarCP()">Buscar</button>
           <select name="" id="" [(ngModel)] = "ciudad" (change)="accion()" [ngModelOptions]="{standalone: true}">
            <option *ngFor="let l of lugares" [value]="l">{{l}}</option>
            
           </select>
           <input type="text" placeholder="Estado" formControlName="estado">
           <input type="text" placeholder="País o Región" formControlName="pais">
           <input type="text" placeholder="Coordenadas ejem. latitud,longitud" formControlName="coordenadas">
           <div id="map"></div>
       </form>
   
   
   </div>
   <div class="AtrasSiguiente">
     <a  class="atras" (click)="cambiarAtras()">Atras</a>
     <button class="siguiente" (click)="cambiarSiguienteD()"  >Siguiente</button>
   </div>
   </div>
   <div *ngIf="cambio == 5">
     <div class="pregunta">
       <a (click)="VolverIndex()"><img src="../../assets/images/llave2.jpg" alt=""></a>
       <h1>¿A cuántos huéspedes te gustaría recibir?</h1>
   </div>
   <div class="opciones">
       <a (click)="VolvelList()">Salir</a>
       <div class="N">
           <div class="numero">
               <h3 >Huéspedes</h3>
               <button (click)="BajarNumero(1)">-</button>
               <h4>{{NHuespedes}}</h4>
               <button (click)="AumentarNumero(1)">+</button>
           </div>
           <div class="numero">
               <h3 >Camas</h3>
               <button (click)="BajarNumero(2)">-</button>
               <h4>{{NCamas}}</h4>
               <button (click)="AumentarNumero(2)">+</button>
           </div>
           <div class="numero">
               <h3 >Baños</h3>
               <button (click)="BajarNumero(3)">-</button>
               <h4>{{NBanios}}</h4>
               <button (click)="AumentarNumero(3)"> +</button>
           </div>
       </div>
   
   </div>
   <div class="AtrasSiguiente">
     <a  class="atras" (click)="cambiarAtras()">Atras</a>
     <button class="siguiente" (click)="cambiarSiguiente()"  >Siguiente</button>
   </div>
   </div>
   <div *ngIf="cambio == 6">
     <div class="pregunta">
         <a (click)="VolverIndex()"><img src="../../assets/images/llave2.jpg" alt=""></a>
         <h1>Cuéntale a los Huéspedes todo lo que tu espacio tiene para ofrecer</h1>
     </div>
     <div class="opciones">
       <a (click)="VolvelList()">Salir</a>
       <h1>¿Ofreces algún servicio especial o aspecto?</h1>
       <div *ngFor="let i of Icon">
         <div class="icono" *ngIf="i.id < 16"><button (click)="ServicioAspectos(i.id)" [style.background-color]="checkAspectos[i.id -1]"> <img src="https://sheltered-stream-77543.herokuapp.com{{i.Icono}}" alt=""><h3> {{i.Nombre}} </h3></button></div>
   
       </div>
     </div>
     <div class="AtrasSiguiente">
       <a  class="atras" (click)="cambiarAtras()">Atras</a>
       <button class="siguiente" (click)="cambiarSiguiente()"  >Siguiente</button>
     </div>
   
   </div>
   <div *ngIf="cambio == 7">
     <div class="pregunta">
       <a (click)="VolverIndex()"><img src="../../assets/images/llave2.jpg" alt=""></a>
       <h1>Ahora vamos a subir algunas fotos de tu alojamiento</h1>
   </div>
   <div class="opciones">
       <a (click)="VolvelList()">Salir</a>
        <h1>Incluye las imagenes de tu lugar <input (change)="capturarFile($event)" type="file" name="" id="" style="background-image:url(../../assets/images/subida.png)"></h1>
   
         <div class="imagen" >
           <div *ngFor="let p of previsualizacion"> <img [src]="p" alt=""></div>
       </div>
   
   
   </div>
   <div class="AtrasSiguiente">
     <a  class="atras" (click)="cambiarAtras()">Atras</a>
     <button class="siguiente" (click)="cambiarSiguiente()" [disabled]="bloquear">Siguiente</button>
   </div>
   </div>
   <div *ngIf="cambio == 8">
     <div class="pregunta">
       <a (click)="VolverIndex()"><img src="../../assets/images/llave2.jpg" alt=""></a>
       <h1>Ponle un nombre a tu alojamiento</h1>
   </div>
   <div class="opciones">
     <a (click)="VolvelList()">Salir</a>
       <h1>Crea tu título</h1>
       <form [formGroup]="titulo">
         <textarea name="" id="" cols="30" rows="10" formControlName="tit"></textarea>
       </form>
   
   </div>
   <div class="AtrasSiguiente">
     <a  class="atras" (click)="cambiarAtras()">Atras</a>
     <button class="siguiente" (click)="cambiarSiguienteT()"  >Siguiente</button>
   </div>
   </div>
   <div *ngIf="cambio == 9">
     <div class="pregunta">
       <a (click)="VolverIndex()"><img src="../../assets/images/llave2.jpg" alt=""></a>
       <h1>Ahora vamos a poner la descripción de donde se ubica tu cuarto</h1>
   </div>
   <div class="opciones">
     <a (click)="VolvelList()">Salir</a>
     <h1>Describe la ubicacion</h1>
     
      <form class="descripcion" [formGroup]="calles">
        <textarea  placeholder="Ingresa las calles, edificios cercanos, numero de la casa" formControlName="calle"></textarea>
      </form>
       
   </div>
   <div class="AtrasSiguiente">
     <a  class="atras" (click)="cambiarAtras()">Atras</a>
     <button class="siguiente" (click)="cambiarSiguiente()">Siguiente</button>
   </div>
   </div>
   <div *ngIf="cambio == 10">
     <div class="pregunta">
       <a (click)="VolverIndex()"><img src="../../assets/images/llave2.jpg" alt=""></a>
       <h1>Ahora vamos a describir tu alojamiento</h1>
   </div>
   <div class="opciones">
     <a (click)="VolvelList()">Salir</a>
   
       <h1>Crea tu descripción</h1>
       <form [formGroup]="description">
         <textarea name="" id="" cols="30" rows="10"  formControlName="descripcion" placeholder="Ingresa otros aspectos, detalles del cuarto y el lugar donde esta"></textarea>
       </form>
   </div>
   <div class="AtrasSiguiente">
     <a  class="atras" (click)="cambiarAtras()">Atras</a>
     <button class="siguiente" (click)="cambiarSiguienteDes()" >Siguiente</button>
   </div>
   </div>
   <div *ngIf="cambio == 11">
     <div class="pregunta">
       <a (click)="VolverIndex()"><img src="../../assets/images/llave2.jpg" alt=""></a>
       <h1>Ahora ingresa el precio </h1>
   </div>
   <div class="opciones">
     <a (click)="VolvelList()">Salir</a>
       <h1>Ingresa un precio</h1>
       <form [formGroup]="precio">
         <input type="number" class="precio" formControlName="dinero">
       </form>
   
   </div>
   <div class="AtrasSiguiente">
     <a  class="atras" (click)="cambiarAtras()">Atras</a>
     <button class="siguiente" (click)="cambiarSiguienteP()"  >Siguiente</button>
   </div>
   </div>
   <div *ngIf="cambio == 12">
     <div class="pregunta">
       <a (click)="VolverIndex()"><img src="../../assets/images/llave2.jpg" alt=""></a>
       <h1>¡¡¡Felicidades!!! ya registra tu Alojamiento</h1>
   </div>
   <div class="opciones">
     <a (click)="VolvelList()">Salir</a>
       <div class="final">
           <img [src]="previsualizacion[0]" alt="">
           <h1>{{titulo.value.tit}}</h1>
           <div *ngFor="let n of NombreUser">
             <h2>Anfitrion {{n.nombre}}</h2>
           </div>
           <h3>{{NHuespedes}} huéspedes {{NCamas}} cama {{NBanios}} Baños</h3>
       </div>
   
   </div>
   <div class="AtrasSiguiente">
       <a  class="atras" (click)="cambiarAtras()">Atras</a>
       <button class="guardar" (click)="GuardarAlojamiento()">Guardar tu Anuncio</button>
   </div>
   </div>

