<app-cabezera (acceso)="CambiarAcceso($event)"></app-cabezera>
<h1 class="titulo">Comentarios disponibles</h1>
    <div class="Anfitrion_list">
        <div *ngFor="let r of reserva">
            <div class="Anfitrion_lugar" *ngIf="r.idUsuario == id">
                <div *ngFor="let l of lugares">
                    <img src="https://sheltered-stream-77543.herokuapp.com{{l.imagen}}" alt="" *ngIf="l.id == r.idLugar">
                    <div class="info" style="margin:0px 0 0 20px; float:left" *ngIf="l.id == r.idLugar">
                        <div *ngFor="let u of usuario">
                            <h2 *ngIf="l.id_usuario == u.id">Lugar del Anfitrion: {{u.email}}</h2>
                        </div>
                        <h2 >Titulo: {{l.Titulo}} </h2>
                    </div>
                    <div style="float:right;margin: 9px 0;" class="Anfitrion_Button" *ngIf="l.id == r.idLugar">
                        <button style="background-color: green;" (click)="CambioEditar(r.id)">Agregar</button>
                    </div>
                </div>
            </div>
            <div class="invocacion" *ngIf="Editar == r.id">
                <textarea name="" id="" cols="30" rows="10" placeholder="Escriba el comentario" [formControl]="comentario"></textarea>
                <button (click)="crearComentario(r.idLugar)">Guardar</button>
                <button (click)="CambioEditar(0)"> Salir</button>
            </div>
        </div>        
        <div class="Anfitrion_lugar" style="background-color: white;">
            <h2 style="text-align: center;margin: 15px 0 0 0;">------------------------------------------------------------------Comentados---------------------------------------------------------   <a (click)="ver()">Ver</a></h2>
        </div>
        <div *ngIf="mostrar">
            <div *ngFor="let c of Comentarios">
                <div class="Anfitrion_lugar" *ngIf="id == c.id_usuario">
                    <div *ngFor="let l of lugares">
                        
                        <img src="https://sheltered-stream-77543.herokuapp.com{{l.imagen}}" alt="" *ngIf="l.id == c.id_lugar">
                        <div class="info" style="margin:0px 0 0 20px; float:left" *ngIf="l.id == c.id_lugar">
                            <div *ngFor="let u of usuario">
                                <h2 *ngIf="l.id_usuario == u.id">Lugar del Anfitrion: {{u.email}}</h2>
                            </div>
                        </div>
                        <div style="float:right;margin: 9px 0;" class="Anfitrion_Button" *ngIf="l.id == c.id_lugar">
                        <button style="background-color: green;" (click)="CambioEditar(c.id + 500)">Ver</button >
        
                    </div>
                    </div>
                </div>
                <div class="invocacion" *ngIf="Editar == c.id + 500">
                    <textarea name="" id="" cols="30" rows="10" placeholder="Escriba el comentario">{{c.Comentario}}</textarea>
                    <button (click)="CambioEditar(0)"> Salir</button>
                </div>
                </div>
        </div>
    </div>

