<div >
    
    <div class="pantalla">

    </div>
  <div class="inicio">
    <div><img src="../../assets/images/SeReservanCuartos.png" alt="" class="logo" (click)="VolverIndex()"></div>
    
    
    <div class="inicio_c"></div>
    
    <div class="inicio_anfitrion"></div>

    <div class="dropdown">
      <button class="dropbtn" (click)="Enlace()"><div class="inicio_usuario"><img src="../../assets/images/usuario.png" alt=""></div></button>
      <div class="dropdown-content">

      </div>
    </div>
  </div>

